*{
    margin: 0;
    padding: 0;
    font-family: "karla", sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body{
    display: grid;

}

.menu{
    
    position: relative; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 5vw;
    background-color: #212121;
    height: clamp(60px, 8vh, 110px);
    margin-bottom: 0;
    
}

.menu .logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    width: clamp(55px, 4.5vw, 120px);
    
}
.menu ul{
    display: flex;
    flex-wrap: wrap;
    padding: 2vw;
}

.menu li{
    padding: 1.5vw;
    
    list-style: none;
    color: #FFFFFF;
    flex-wrap: wrap;
    font-weight: lighter;
    font-size: clamp(11px, 0.8vw, 35px);
}

/* Section */

#home{
    margin-top: 0px;
    display: grid;
    justify-items: center;
    align-self: end;
    background: linear-gradient(180deg, #33BB41, #0A120B) !important;
    padding-top: 13vh;
    
}

/* Section Sobre */

#sobre{
    display: grid;
    background: radial-gradient(circle, #858585 ,#1F1F1F 40%);
    grid-template-areas: 'texto, imagem';
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    padding-top: 15vh;

}


.text{
    grid-area: 'texto' ;
    padding-left: clamp(25px, 11vw, 100px);
    padding-right: clamp(25px, 11vw, 100px);
    padding-top: clamp();
    
}

.text p{
    font-weight: 470;
    letter-spacing: 0.9px;
    line-height: 1.8;
    font-size: clamp(12px, 1rem, 28px);
}

.text h1{
    font-weight: bold;
    font-size: clamp(12px, 2.5vw, 38px);
}

.foto{
    grid-area: 'imagem';
    padding-left: clamp(100px, 15vw, 250px);
    padding-bottom: clamp(100px, 15vw, 250px);
}

.foto img{
    width: clamp(80px, 27vw, 650px);
    border-radius: 15px;
}